.sideNav a {
    width: 140px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    background-color: #000;
    color: #fff;
    border-radius: 20px 0 0 20px;
    padding: 10px 20px;
    position: absolute;
    right: -136px;
}

.sideNav a:hover {
    right: 0 !important;
}

.sideNav i {
    margin-right: 14px;
}

#twitter {
    background-color: #00acee;
    top: 20px;
}

#instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    top: 80px;
}

#facebook {
    background-color: #3b5998;
    top: 140px;
}

#linkedin {
    background-color: #0072b1;
    top: 200px;
}

#github {
    background-color: #171515;
    top: 260px;
}

#email {
    background-color: #BB001B;
    top: 320px;
    width: 180px;
    right: -177px;
}