*{
    box-sizing:border-box;
}

body{
    background-color: #fefefe;
    margin: 0;
    font-family: monospace, sans-serif;
}

#main{
    transition: filter 1s ease;
}

header{
    background-color: #2163d6;
    color: #fefefe;
    padding: 40px 60px 80px 60px;
    border-bottom-left-radius: 1200px 260px;
}

header a{
    color: #fefefe;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

header a::after {
    content: "";
    width: 100%;
    border-bottom: 2px solid #fefefe;
    position: absolute;
    bottom: -4px;
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease;
}

header a:hover::after {
    opacity: 1;
}

.nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0 120px;
}

.nav li{
    display: inline;
    margin: 0 16px;
}

.btn{
    background-color: #fefefe;
    color: #091e43;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 20px;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover{
    box-shadow: 0 2px 10px #fefefe;
}

.section, .mainSection{
    margin: 60px auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 1.5em;
}

.mainSection{
    display: flex;
}

.section p{
    width: 90%;
}

.section h2{
    letter-spacing: 8px;
    width: 80%;
    line-height: 2em;
    text-align: left;
}

.section img{
    width: 450px;
}

#modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #091e4385;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: opacity 0.8s ease-in-out;
    opacity: 0;
    display: flex;
}



#modal form{
    background-color: #fefefe;
    width: 60%;
    margin: auto;
    border-radius: 20px;
    padding: 60px 60px;
    color: #091e43;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input{
    width: 70%;
    font-size: 16px;
    padding: 8px 16px;
    margin: 10px 0;
    border: none;
    border-radius: 12px 12px 0 0;
    border-bottom: 3px solid #091e43;
    color: #091e43;
    transition: 0.5s;
}

input:hover{
    background-color: #2163d60b;

}

input:focus{
    background-color: #2163d618;
    outline: none;
}

#modal .btn{
    background-color: #091e43;
    color: #fefefe;
    margin-top: 30px;
}

.btn:hover{
    box-shadow: 0 2px 10px #091e43;
}

form span{
    float: left;
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;
}

form span:hover{
    color: rgb(235, 0, 0);

}

form h2{
    clear: both;
}

.cardsSection{
    width: 100%;
    display: flex;
    margin: 60px auto;
    width: 80%;
    position: absolute;
    top: 640px;
    left: 320px;
    overflow: hidden;
}

.card{
    background-color: #fefefe;
    color: #091e43;
    padding: 20px;
    min-width: 130px;
    border-radius: 12px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 1px 5px #2163d6;
}

.card p{
    margin: 0 auto;
}

.card img{
    width: 50px;
    margin-bottom: 10px;
}
